body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(238, 238, 238);
}
.container {
    display: flex;
    justify-content: center;
    column-gap: 5px;
    width: 60%;
}
.container img {
    width: 20%;
    border-radius: 5px;
}
.container img:nth-child(2) {
    flex-grow: 1;
}