body {
    background-color: rgb(238, 238, 238);
}
img {
    background-color: rgb(255, 255, 255);
}
blockquote {
    font-family: Georgia, serif;
}
a {
    color: rgb(0, 153, 0);
}
h1 {
    font-family: Georgia, serif;
}
img {
    height: fit-content;
    border: 3px solid black;
    padding: 5px;
}
.page {
    display: flex;
    flex-wrap: wrap;
}
header {
    border-bottom: 3px solid black;
    flex-basis: 100%;
    margin-bottom: 10px;
}
main {
    display: flex;
    flex-wrap: wrap;
}
.page section {
    display: flex;
    width: 70%;
}
.page aside {
    margin-left: 50px;
}

.page aside ul li a {
    text-decoration: none;
}
.paragraph-before-blockquote {
    width: 40%;
    display: inline-flex;
}
blockquote {
    width: 50%;
    display: inline-flex;
    flex-direction: column;
    border-left: 2px solid #E7E7E7;
    padding-left: 10px;
}
.third-article img{
    float: left;
    margin-right: 20px;
}