html {
    font-family: Helvetica, sans-serif;
}
body {
    background-color: rgb(238, 238, 238);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section {
    background-color: rgb(255, 255, 255);
    width: 25%;
}
section div img {
    width: 100%;
}
section div:nth-child(2) button {
    margin: 10px;
    background-color: #009A00;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
}