header {
    border-bottom: 2px solid rgb(0,0,0);
    display: flex;
    justify-content: space-between;
}

.navigation ul {
    display: flex;
    list-style: none;
}
.navigation ul li {
    margin-left: 5px;
    margin-right: 5px;
}
.navigation ul li a {
    color: rgb(0, 153, 0);
    text-decoration: none;
}